<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../Web/img/favicon.ico" />
    <title>متجري</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/full-slider.css" rel="stylesheet">
    <link href="../css/form-login.css" rel="stylesheet">
    <link href="../font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark  fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#"><strong><b><h1>متجري</h1></b></strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
               <!--
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                -->
                <li class="nav-item">

                    <a class="nav-link" href="#" data-toggle="modal" data-target="#myModal">

                        <p><i class="fa fa-user-circle fa-2x" aria-hidden="true" style="color:#ffffff;"></i>
                        </p>


                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<header >
    <div id="carouselExampleIndicators" class="carousel " data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>

        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" >
                <video  autoplay   muted  controls>
                    <source src="../img/MODIFY.MP4" type="video/mp4">
                </video>

                <div class="carousel-caption d-none d-md-block">
                    <h2>مرحبا  بك</h2>
                    <h4>تطبيق متجري الحلم اصبح حقيقة</h4>
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('../img/c777.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h2>مرحبا  بك</h2>
                    <h4>تطبيق متجري الحلم اصبح حقيقة</h4>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('../img/c5.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h2>مرحبا  بك</h2>
                    <h4>تطبيق متجري الحلم اصبح حقيقة</h4>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('../img/c2.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h2>مرحبا  بك</h2>
                    <h4>تطبيق متجري الحلم اصبح حقيقة</h4>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('../img/c656.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h2>مرحبا  بك</h2>
                    <h4>تطبيق متجري الحلم اصبح حقيقة</h4>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('../img/c34.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h2>مرحبا  بك</h2>
                    <h4>تطبيق متجري الحلم اصبح حقيقة</h4>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('../img/c89.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h2>مرحبا  بك</h2>
                    <h4>تطبيق متجري الحلم اصبح حقيقة</h4>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="fa fa-chevron-circle-left fa-4x" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class=" fa fa-chevron-circle-right fa-4x" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<!-- Page Content -->
<section class="py-5">
    <div class="container">
        <section id="cd-timeline" class="cd-container">
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture  align-content-center">

                    <i class="fa fa-chevron-left fa-3x " aria-hidden="true" style="    color: #5bc0de;"></i>


                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content cd-left">
                    <h2>   ماهو تطبيق متجري؟ </h2>
                    <p class="pull-right">تطبيق متجري عبارة عن تسيير شامل لمتطلبات المتجر
                        بطريقة آمنة و مضمونة
                        مع تطبيق متجري تنعم براحة و طمأنينة من مشقات التسيير</p>


                </div> <!-- cd-timeline-content -->


            </div> <!-- cd-timeline-block -->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                    <i class="fa fa-chevron-right fa-3x" aria-hidden="true" style="    color: #5bc0de;"></i>
                </div> <!-- cd-timeline-img -->



                <div class="cd-timeline-content cd-right">
                    <h2>  هل يمكن لتطبيق متجري تلبية الاحتياجات المستقبلية؟
                    </h2>
                    <p class="pull-right">
                        بكل تأكيد. ما عليك سوى الإتصال بنا و تحديد الخدمة المطلوبة  و ستلبي بكل دقة و إتقان




                    </p>



                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
        </section> <!-- cd-timeline -->
    </div><!--end container-->
</section>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">جميع الحقوق محفوظة  &copy;   تطبيق متجري2017  </p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/popper/popper.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../js/scroll.js"></script>
<script src="../js/rippel-effect.js"></script>
<script src="../js/login.js"></script>



<!--  model -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">




        <!-- Modal content-->




            <form id="login-form" onsubmit="return false" method="post" action="">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <img src="../img/logo.png" class="img-responsive"/>
                <div class="group">
                    <input type="text" name="user" id="user"><span class="highlight"></span><span class="bar"></span>
                    <label>اسم المستخدم</label>
                </div>
                <div class="group">
                    <input type="password" name="pass" id="pass"><span class="highlight"></span><span class="bar"></span>
                    <label>كلمه السر</label>
                </div>
                <button type="button" class="button buttonBlue " >
                    <h4>تسجيل الدخول</h4>
                    <div class="ripples buttonRipples" onclick="login()"><span class="ripplesCircle"></span></div>
                </button>
            </form>
        <div class="alert alert-danger" role="alert" style="display:none;" id="alert"></div>

    </div>
</div><!--end model-->

</body>
<script>




</script>


</html>
